:root {
  --primary-color: #f5e1da;
  --secondary-color: #f1f1f1;
  --accent-color-light: #beceb0;
  --accent-color-dark: #34857f;
  --subtitle-font: "Courier New", Courier, monospace;
}

.hero {
  background: var(--primary-color);
  padding: 100px 20px;
  text-align: center;
}

h1 {
  font-size: 62px;
  font-weight: bold;
}

h2 {
  font-family: var(--subtitle-font);
  font-size: 24px;
  line-height: 1;
}

h3 {
  font-family: var(--subtitle-font);
  font-size: 20px;
}

.btn-branding {
  background: var(--accent-color-dark);
  color: #ffff;
  padding: 15px 30px;
}

.primary-link {
  color: var(--accent-color-light);
}

.primary-link:hover {
  color: var(--accent-color-dark);
}

.footer {
  background: var(--accent-color-light);
  padding: 20px 10px;
  text-align: center;
}

.social-media-link {
  text-decoration: none;
  color: #000;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .hero {
    padding: 60px, 10px;
  }
}
