:root {
  --primary-color: #f5e1da;
  --secondary-color: #f1f1f1;
  --accent-color-light: #beceb0;
  --accent-color-dark: #86917d;
  --main-font-color: #383838;
  --main-font: "Quicksand", sans-serif;
  --subtitle-font: "Times New Roman", Times, serif;
}

nav {
  padding: 0px 50px;
}

body {
  color: var(--main-font-color);
  font-family: var(--main-font);
}

.hero {
  background: var(--primary-color);
  padding: 100px 20px;
  text-align: center;
}

h1 {
  font-size: 62px;
  font-weight: bold;
}

h2 {
  font-family: var(--subtitle-font);
  font-size: 24px;
  line-height: 1;
}

h3 {
  font-family: var(--subtitle-font);
  font-size: 20px;
}

.intro-paragraph {
  margin: 10px 250px 10px 250px;
}

.portrait {
  border-radius: 50%;
  max-width: 200px;
}

.btn-branding {
  background: var(--accent-color-dark);
  color: #ffff;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: #ffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.primary-link {
  color: var(--accent-color-dark);
}

.primary-link:hover {
  color: var(--accent-color-dark);
}

.container {
  padding: 0 100px;
}
.container img {
  display: block;
  margin: auto;
  max-width: 60%;
}

footer {
  background: var(--accent-color-light);
  padding: 20px 10px;
  text-align: center;
}

footer .social-links {
  color: var(--main-font-color);
  border: 1px solid;
  border-radius: 50%;
  font-size: 26px;
  margin: 0 10px;
  padding: 10px;
}

footer .social-links:hover {
  color: #ffff;
  background: var(--main-font-color);
  box-shadow: 5px 5px 10px #383838;
}

@media (max-width: 900px) {
  div {
    display: block;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .hero {
    padding: 30px 10px;
  }

  .intro-paragraph {
    margin: 10px 50px 10px 50px;
  }

  .container {
    padding: 0;
  }
}
